html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}




.about-wrapper {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.about-hero {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  padding: 3rem 2rem;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.about-hero p {
  font-size: 1.2rem;
}

.about-content {
  background-color: #fdfdfd;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.about-content h2 {
  margin-top: 2rem;
  color: #0077cc;
  font-size: 1.5rem;
}

.about-content p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-top: 0.5rem;
}

.about-content ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.about-content li {
  margin-bottom: 0.6rem;
  font-size: 1.05rem;
}
